<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <title>Short URL</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<th:block th:fragment="header">
    <header>
        <div class="ui secondary menu">
            <a class="item" th:href="@{/}"
               th:classappend="${#request.requestURI == '/' } ? 'active'">Short URL</a>
            <a class="item" th:href="@{/p/stats}"
               th:classappend="${#request.requestURI == '/p/stats'} ? 'active'">Stats</a>
        </div>
    </header>
</th:block>

<th:block th:fragment="common-script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script th:src="@{/js/app.js}"></script>
</th:block>
</body>
</html>