<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::common-head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
</head>
<body>

<div class="ui container">
    <main class="error">
        <h1>미안합니다</h1>
        <div class="ui error message">최선을 다했지만 요청하신 정보를 찾지 못했습니다.</div>
    </main>

</div>
<!--
[[${shortKey}]]
-->
<th:block th:replace="~{fragments/commons::common-script}"></th:block>

</body>
</html>