<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::common-head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
</head>
<body>

<div class="ui container">
    <th:block th:replace="~{fragments/commons::header}"></th:block>
    <main>
        <h1>Shorten URL</h1>
        <div class="ui segment">
            <form class="ui form">
                <div class="field">
                    <label for="original-url">Enter URL</label>
                    <div class="ui action input">
                        <input id="original-url" type="text">
                        <button id="btn-shorten" class="ui button">Shorten</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="results" class=""></div>
        <input type="hidden" name="host" id="host" th:value="${host}">
    </main>

</div>

<th:block th:replace="~{fragments/commons::common-script}"></th:block>
<script>
    'use strict';

    const API_URL = "[(@{/api/v1/short-url})]";

    $(document).ready(function () {

        $("form").on("submit", () => {

            $("#btn-shorten").addClass("loading");

            const originalUrl = $("#original-url").val();
            const host = $("#host").val();
            // REQUEST POST
            const data = {
                originalUrl: originalUrl
            };
            $.ajax(API_URL, {
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done((data) => {
                const shortLink = host + data.shortKey;
                $("#results").prepend(`
                    <div class="ui info message">
                        <div class="header">
                            <a href='${shortLink}' target='_blank'>${shortLink}</a>
                        </div>
                        <p>
                            <a href='${data.originalUrl}' target='_blank'>${data.originalUrl}</a>
                        </p>
                    </div>
                `)

                // clear text box
                $("#original-url").val("");

            }).fail((jqXHR) => {
                const data = jqXHR.responseJSON || {};
                const message = data.message || "Error";

                // error message
                $("#results").prepend(`
                    <div class="ui error message">
                        <div class="header">
                            ${message}
                        </div>
                        <p>
                            <span>${originalUrl}</span>
                        </p>
                    </div>
                `)

            }).always(() => {
                $("#btn-shorten").removeClass("loading");
            });

            return false;
        })

    });

</script>
</body>
</html>